.container{

    height:500px;   
    margin-top:50px;    
    display:flex;      
    align-items:center;       
    justify-content:center;        
    
    }        
    
    body{
    
    background:	#363636;   
    
    }
    
    .container .form{
    
    background:#DCDCDC;
    width:320px;  
    text-align:center;    
    height:auto;  
    border-radius:5px;  
    padding-bottom:20px;
    
    }   
    
    .input-group{
    
    margin-bottom:20px;   
    width:280px;  
    margin-left:20px;  
    
    }   
    
    .btn-primary{
    
    width:280px;  
    
    }   
    
    .fa-user-circle{
    
    font-size:50px;     
    color:white;   
    
    }
    
    .topo{
    
    background:	#2E8B57;
    height:80px;   
    margin-bottom:20px;    
    display:flex;     
    align-items:center;       
    justify-content:center;     
    border-top-left-radius:5px;          
    border-top-right-radius:5px;   
    
    }      
    
    .input-group-text{
    
    background:blue;   
    
    }     
    
    .fa-envelope, .fa-key{
    
    color:white;   
    
    }      
    
    .alert{
    
    border:solid 1px red;      
    width:280px; 
    margin-left:20px;   
    margin-top:20px;         
    
    }    
    
    .recuperar{
    
    margin-top:10px;
    
    }     
    
    .recuperar .txt{
    
    float:left;       
    margin-left:22px;       
    font-weight:500;
    font-size:12px;
    
    }      
    
    a{
    
    text-decoration:none;   
    color:black;          
    transition:0.6s;            
    
    }    
    
    a:hover{
    
    color:blue; 
    
    }    
    
    #aviso2{
    
    text-align: justify-all;
    justify-content:center;     
    
    }    
    
    .time{
    
    margin-top:-15px;   
    margin-bottom:-10px;   
    
    }     
    
    .time .tempo{
    
    font-weight:500;      
    font-size:1
    
    }    


    #btn2{

    margin-bottom:20px; 

    }